# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# JetBrains
.idea/

# Python cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/

# Static
staticfiles/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Flet
.flutter-plugins
.flutter-plugins-dependencies

# SQLite
*.sqlite3
*.db
credentials_initiaux.csv

# Coverage
.coverage
htmlcov/

# Temporary files
*.tmp
*.bak